<template name="leftnav">
  <div class="row">
    <div class="section">
        <button class="btn" type="button" name="button">Stuff</button>
    </div>
    <div class="section">
        <button class="btn" type="button" name="button">Stuff</button>
    </div>
    <div class="section">
        <button class="btn" type="button" name="button">Stuff</button>
    </div>
    <div class="section">
        <button class="btn" type="button" name="button">Stuff</button>
    </div>
    <div class="section">
        <button class="btn" type="button" name="button">Stuff</button>
    </div>
    <div class="section">
        <button class="btn" type="button" name="button">Stuff</button>
    </div>
  </div>
</template>