<template name="leftnav">
    <aside class="menu">
        <p class="menu-label">Navigation</p>
        <ul class="menu-list">
            <li><a>Overview</a></li>
            <li><a>Resources</a></li>
            <li><a>Facilities</a></li>
            <li><a>Trader</a></li>
            <li><a>Research</a></li>
            <li><a>Shipyard</a></li>
            <li><a>Defence</a></li>
            <li><a>Fleet</a></li>
            <li><a>Transport</a></li>
            <li><a>Galax</a></li>
            <li><a>Empire</a></li>
        </ul>
    </aside>
</template>