body {
  background: linear-gradient(45deg, #2f445b 0%,#2f445b 7%,#2f445b 16%,#5c8cb0 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.game-card {
  height: 20rem;
 padding-top: 0px;
 padding-right: 0px;
 padding-left: 0px
}

.g-card {
  padding-top: 45px;
}

.section {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn {
  background-color: #78909c;
}

.buildings {
  margin-left: 10px;
  margin-right: 10px;
}
